<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body class="comps-page">
    <nav>
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </nav>
    
    <div>
        <h1>List with some of the most famous and beutiful compsitions from Franz Liszt</h1>
    </div>

    <div>
        <ul>
            <li>Sonata in B Minor, S.178 <a href="https://www.youtube.com/watch?v=n04GkRTC_Lo" target="_blank">Click here</a></li>
            <li>Piano concerto no.2,S125 <a href="https://www.youtube.com/watch?v=Z-9GpHjPCnc" target="_blank">Click here</a></li>
            <li>Piano concerto no.1,S124 <a href="https://www.youtube.com/watch?v=B0TOvZ5U7nM" target="_blank">Click here</a></li></li>
            <li>Totentanz S126 <a href="https://www.youtube.com/watch?v=Iow2olsuZoM" target="_blank">Click here</a></li></li>
            <li>Mephisto Walts No.1,S514 <a href="https://www.youtube.com/watch?v=P5FDtRiN6fY" target="_blank">Click here</a></li></li>
            <li>Transcendental Etudes, S139 <a href="https://www.youtube.com/watch?v=picvN4UL_QQ" target="_blank">Click here</a></li></li>
            <li>Three Concert Etudes,S144 <a href="https://www.youtube.com/watch?v=qypYyZLVKIs" target="_blank">Click here</a></li></li>
            <li>Dante Symphony,S109 <a href="https://www.youtube.com/watch?v=yW2YkLFuWlo" target="_blank">Click here</a></li></li>
        </ul>
    </div>

    <footer class="back-btn">
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </footer>
    
    <script type="module" src="/js/index.js"></script>
</body>
</html>