<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body class="index-page">

    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/pictures">Pictures</a></li>
            <li><a href="/compositions">Compositions</a></li>
        </ul>
    </nav>

    <div id="first-img-page">
        <h1>Franz Liszt</h1>
        <p>Hungarian composer, virtuoso pianist, conductor, and teacher of the Romantic period.</p>

    </div>
    
    <footer>
        <p>Many thanks our main sponsor Wikipedia</p>
        <p>and other website to fill this pages with content.</p>
    </footer>
    
    <script type="text" src="/js/index.js"></script>
</body>
</html>