<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pictures</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">
</head>
<body class="pic-page">
    <nav>
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </nav>

    <h1>Pictures Library</h1>
    <div class="row">
        <div class="column">
            <img src="/images/Liszt-color.jpeg" alt="">
            <img src="/images/Liszt-friends.jpeg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="/images/Liszt-older.jpeg" alt="">
            <img src="/images/Liszt-room1.jpeg" alt="">
        </div>
    </div>
    <div class="row">
        <div class="column last-column">
            <img src="/images/Liszt-room2.jpeg" alt="">
            <img src="/images/Liszt.jpeg" alt="">
        </div>
    </div>

    <footer class="back-btn">
        <ul>
            <li><a href="/">Back</a></li>
        </ul>
    </footer>
    <script type="module" src="/js/index.js"></script>
</body>
</html>